/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  background-image: url(https://png.pngtree.com/background/20210709/original/pngtree-tourism-travel-lighthouse-cloud-picture-image_925651.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 85%;
  backdrop-filter: blur(10px);
  border-radius: 0.5em;
  border: 0.125em solid rgb(177, 177, 177);
  padding: 1.25em 3.75em 1.875em 3.75em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Heading - Contact Us*/
.heading{
  color: rgb(113, 110, 255);
  text-align: center;
  padding: 0.5em;
  pointer-events: none;
  flex: none;
}

/* Row: Left column + Right column*/
.container .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0em 1.875em;
}

/* Left column */

.container .row .column1{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.9375em;
  position: relative;
  border-right: 0.0675em solid whitesmoke;
}

.row .column1 .details{
  margin: 0.875em;
  text-align: center;
}
.row .column1 .details i{
  font-size: 1.875em;
  color: #3e2093;
  margin-bottom: 0.625em;
}
.row .column1 .details .topic{
  font-size: 1.125em;
  font-weight: 500;
  color: #f3f4fa;
}
.row .column1 .details .text-one,
.row .column1 .details .text-two{
  font-size: 0.875em;
  color:rgba(240, 248, 255, 0.918);
}

/* Right column */

/* Sub-heading */
h3{  
  pointer-events: none;
  text-align: center;
  color: #ccc;
}

/* Form */

.container .row .column2{
  width: 75%;
  margin-left: 4.6875em;
  color: #f3f4fa;
}

/* Inputs */
input[type=text], input[type=email], textarea {
  width: 100%; 
  padding: 0.75em; 
  border: 0.0625 solid #ccc; 
  border-radius: 0.25em; 
  box-sizing: border-box; 
  margin-top: 0.375em; 
  margin-bottom: 1em; 
  resize: vertical; 
}

/* Submit button */
input[type=submit] {
  background-color: #00c00a;
  color: white;
  padding: 0.75em 1.25em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

/* hover effect on submit button */
input[type=submit]:hover {
  background-color: #00a508;
}

/* Responsive */

@media (max-width: 51.875em) {
  .container{
    width: 90%;
    padding: 1.875em 2.5em 2.5em 2.1875em ;
  }
  .container .row .column2{
    width: 75%;
    margin-left: 0em;
  }
  .container .row .column1{
    border: none;
  }
}

@media (max-width: 51.25em) {
  .container{
    margin: 2.5em 0;
    height: 100%;
  }
  .container .row{
    flex-direction: column-reverse;
  }
  .container .row .column1{
    width: 100%;
    flex-direction: row;
    margin-top: 2.5em;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
  }
  .container .row.column2{
    width: 100%;
    margin-left: 0;
  }
}

/* navbar */


*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
} */

.container2 {
  height: 60px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* overflow: hidden; */
  width: 100%;
}

.container2 .logo {
    width: 180px;
    height: 10px;
    /* position: absolute */
    margin-top: 5px;
    margin-bottom: 42px;
    margin-left: 9% ;

}

.container2 .logo a {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center; */
  align-items: center;
  height: 60px;
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
}

/* .container .logo a img {
  max-width: 100%;
  max-height: 60px;
} */

.container2 .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}

.container2 .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container2 .navbar ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

.container2 .navbar ul li a:hover {
  color: #ffffff;
  background-color: rgba(23, 23, 23, 0.9);
}

.container2 .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container2 .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.container2 .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container2 .navbar .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

@media only screen and (max-width: 650px) {
  .container2 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container2 .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container2 .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .container2 .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  
  }

  .container2 .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
 
  }

  .container2 .navbar ul .close {
    display: block;
  }

  .container2 .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container2 .navbar ._Menus-show {
    left: 0;
  }
}

.body {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

/* footer */


/* Generic styling */
* {
  box-sizing: border-box;
  /* font-family: "Lato", sans-serif; */
  margin: 0;
  padding: 0;
}
 ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
  width: 100%;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container3 {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}
