.bg{
    object-fit: cover;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.6;
}
.txt{
    bottom: 280px;
    position: relative;
    
}
.txt1{display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   
}
.txt2{
    display: flex;
    margin-top: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
      
    
}
.form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    bottom: 250px;
    padding: 0px;
    

}
.from{
    margin: 3px;
    border-radius: 5px;
}
.rev-icon{width: 15px;
    height: 15px;

}
.to{
    margin: 3px;
    border-radius: 5px;
}
.dt{
    margin: 3px;
    border-radius: 5px;
}
.botton{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 230px;

}


