@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
/* 
:root{
  --orange:#ffa500;
} */

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--orange);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

.background{
  
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1588487838036-28303ea2f560?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
 


}
/* .background::before{
  content: '';
  
  background-image: url('https://images.unsplash.com/photo-1607836046730-3317bd58a31b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  /* background-repeat: no-repeat; 
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.25);

} */


section{
  padding:2rem 9%;
}
.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: #2cd4d9;
    color: #6e7076;
    border-radius: 0.5rem;
    padding: .2rem 1rem;
    /* display: inline-block; */
}

.heading span.space{
    background: none;
}
/* .btn{
    display: inline-block;
    margin-top: 1rem;
    background: #2cd4d9;
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid #2cd4d9;
    cursor: pointer;
    font-size: 8rem;
}


.btn:hover{
    background: #2cd4d9;
    opacity: .7;
    color: #505257;
    border: .2rem solid #2cd4d9;
  } */

  
.button2{
  display: inline-block;
  margin-top: 1rem;
  background: #2cd4d9;
  color: #fff;
  padding: .8rem 3rem;
  border: .2rem solid #2cd4d9;
  cursor: pointer;
  font-size: 1.7rem;
}
.button2:hover{
  background: #2cd4d9;
  opacity: .7;
  color: #505257;
  border: .2rem solid #2cd4d9;
}

.book .row{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    align-items: center;
  }
  
  .book .row .image{
    flex:1 1 40rem;
  }
  
  .book .row .image img{
    width:100%;
    transition: 0.3s;
    transition: ease-in-out;
  }
  
  .book .row form{
    flex:1 1 40rem;
    padding:2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.9);
    border-radius: .5rem;
  }
  
  .book .row form .inputBox{
    padding:.5rem 0;
  }
  
  .book .row form input.inputBox{
    width:100%;
    padding:1rem;
    border:.1rem solid rgba(0,0,0,.1);
    font-size: 1.7rem;
    color:black;
    text-transform: none;
    margin-right: 4px;
  }
  .book .row form .inputBox input{
    width:100%;
    padding:1rem;
    border:.1rem solid rgba(0,0,0,.1);
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    margin-right: 4px;
  }
  .book .row form .input-grp input.travellers{
    margin-bottom: 5px;
  }
  .book .row form .inputBox input.travellers{
    margin-bottom: 5px;
  }
  
  .book .row form .inputBox h3, .book .row form label h3
  {
    font-size: 2rem;
    padding:1rem 0;
    color:#333;
    font-weight: 800;
  }

  @media (max-width:450px){
      html{
          font-size: 50%;
      }
      .heading span{
          font-size: 1.5rem;
      }
  }
  @media (min-width:451px) and (max-width:641px){
      .heading span{
          font-size: 20px;
      }
  }


 .input-grp{
   display: inline-block;
 }




.image{
    border: 5px solid #fff;
    padding: 5px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.6)
}


.multiselect-container>li>a>label {
  padding: 4px 20px 3px 20px;
}


/* navbar */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
} */

.container2 {
  height: 60px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* overflow: hidden; */
  width: 100%;
}

.container2 .logo {
    width: 180px;
    height: 10px;
    /* position: absolute */
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 9% ;

}

.container2 .logo a {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center; */
  align-items: center;
  height: 60px;
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
}

/* .container .logo a img {
  max-width: 100%;
  max-height: 60px;
} */

.container2 .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}

.container2 .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container2 .navbar ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

.container2 .navbar ul li a:hover {
  color: #ffffff;
  background-color: rgba(23, 23, 23, 0.9);
}

.container2 .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container2 .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.container2 .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container2 .navbar .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

@media only screen and (max-width: 650px) {
  .container2 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container2 .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container2 .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .container2 .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  
  }

  .container2 .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
 
  }

  .container2 .navbar ul .close {
    display: block;
  }

  .container2 .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container2 .navbar ._Menus-show {
    left: 0;
  }
}

.body {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}
  



