  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #1DB954;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

  .w-100 {
    width: 100% !important;
    height: 90vh;
  }
  .carousel-inner {
    color: black;
  }

  /* POPUP STYLES */
  .bg-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
  }

  .bg-modal .modal-content {
    height: 70%;
    width: 60%;
    background-color: white;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    z-index: 999;
    /* pointer-events: none; */
  }
  #map {
    width: 100%;
    height: 100%;
    background-color: blue;
  }

  .close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 42px;
    border-radius: 50%;
    transform: rotate(45deg);
    cursor: pointer;
    color: #333;
    padding-right: 15px;
    padding-left: 5px;
    /* border: 1px solid red; */
    text-align: center;
  }
  
  .close:hover {
    color: #ff1919;
  }

  .locate {
    position: absolute;
    right: 10px;
    /* top: 670px; */
    top: 100px;
    padding: 2px;
    cursor: pointer;
  } 
  
  .locate:hover{
    transition: all .3s ease;
    background-color: rgb(218, 209, 209);
  }

  .text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
  }
  #navbarNavDropdown{
  justify-content:end;
}
  /* POPUP STYLES */

  /* footer styling */
  .footer {
    position: relative;
  }
  /* footer styling ends */

  /* media queries starts */
  @media (max-width:830px) {
    .bg-modal .modal-content {
      width: 70%;
    }
    .locate {
      top: 20px;
    }
  }
  @media (max-width:600px) {
    .bg-modal .modal-content {
      width: 80%;
    }
    .locate {
      transform: scale(.8);
    }
  }
  @media (max-width:450px) {
    .bg-modal .modal-content {
      width: 94%;
    }
    .locate {
      top: 75px;
    }
  }
  /* media queries ends*/

  