.Header {
    font-family: monteserrat;
}

/* .navbar .active {
	background-color: black;
} */
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #1DB954;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}

/*  carousel      */

.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.bg-1 {
	background-image: url(../assets/pictures/carousel-img/img1.jfif);
}
.bg-2 {
	background-image: url(../assets/pictures/carousel-img/img2.jfif);
}
.bg-3 {
	background-image: url(../assets/pictures/carousel-img/img3.jfif);
}
.bg-1, .bg-2, .bg-3 {
	-webkit-background-size: cover;
	background-size: cover;
}
.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 50px;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: 'Moon Dance', cursive;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 20px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	border-radius: 5px;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
}
.carousel-indicators {
	bottom: 65px;
}
.carousel-indicators button {
	width: 100px !important;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-nav {
		text-align: center;
	}
	.navbar-collapse {
		background: #fff;
	}
	.navbar-collapse .nav-item .nav-link {
		color: #000;
	}
	.carousel-caption {
		bottom: 350px;
	}
	.carousel-caption h5 {
		font-size: 65px;
	}
	.carousel-caption p {
		font-size: 18px;
		width: 100%;
	}
	.navbar-collapse .nav-item .nav-link {
		color: #000;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.navbar-collapse .nav-item .nav-link {
		color: #000;
	}
	.carousel-caption {
		bottom: 165px;
	}
	.carousel-caption h5 {
		font-size: 25px;
	}
	.carousel-caption p {
		font-size: 12px;
		width: 100%;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.navbar-collapse {
		background: #fff;
	}
}